/* importing font-styles */
@font-face {
    font-family: "Palanquin";
    src: url(../assets/fonts/Palanquin/Palanquin-Thin.ttf);
    font-weight: 100;
    font-style: normal;
    }
  
@font-face {
    font-family: "Palanquin";
    src: url(../assets/fonts/Palanquin/Palanquin-ExtraLight.ttf);
    font-weight: 200;
    font-style: normal;
    }
  
@font-face {
    font-family: "Palanquin";
    src: url(../assets/fonts/Palanquin/Palanquin-Light.ttf);
    font-weight: 300;
    font-style: normal;
    }
  
@font-face {
    font-family: "Palanquin";
    src: url(../assets/fonts/Palanquin/Palanquin-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    }
  
@font-face {
    font-family: "Palanquin";
    src: url(../assets/fonts/Palanquin/Palanquin-Medium.ttf);
    font-weight: 500;
    font-style: normal;
    }
  
@font-face {
    font-family: "Palanquin";
    src: url(../assets/fonts/Palanquin/Palanquin-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
    }
  
@font-face {
    font-family: "Palanquin";
    src: url(../assets/fonts/Palanquin/Palanquin-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    }

    * {
        font-family: "Palanquin", sans-serif;
        font-size: 16px;
    }

