/* importing fonts */
@import url(./fonts.css);

/* style section for variables */
:root {

/* background color */
--header-footer-background-color: rgb(243,207,93);
--main-background-color: rgb(115,206,165);
--box-shadow-shiny:
                0 0 10px rgba(255, 255, 255, 0.6),
                0 0 20px rgba(255, 255, 255, 0.4),
                0 0 30px rgba(255, 255, 255, 0.2);

/* font size */
--font-size-container: 11px;
--font-size-id: 12px;
--font-size-pokemon-name: 16px;
--font-size-modal-id: 24px;
--font-size-logo-text: 24px;
--font-size-modal-name: 32px;

/* width, height of img, icons, container */
--width-height-close-icon: 35px;
--width-height-btn-arrow: 40px;
--width-height-logo-img: 60px;
--height-header-footer: 70px;
--width-height-pokemon-img: 120px;
--width-height-modal-img: 180px;
--height-table-stats-bar: 220px;
--height-header-modal: 300px;
--height-content-modal: 327px;
--maxWidth: 1440px;

/* padding, gaps */
--gap-5: 5px;
--gap-8: 8px;
--gap-10: 10px;
--gap-20: 20px;
--gap-24: 24px;

/* border or hover color*/
--border-color-gallery-hover: rgba(18, 70, 88, 1);

}

/* Main style */

/* to fill in white space after clipping footer */
html {
    background-color: var(--main-background-color);
}
 
/* for all elements */
* {
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    text-decoration: none;
    /* outline: 1px solid red; */
}
 
/* set sticky footer to the bottom, main part centered and vertically stacked */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: 0 auto;
    font-family: "Palanquin", sans-serif;
    scroll-behavior: smooth;
}
 
/* flex: in combination with flex-box of body, stretches the content to full height, setting max-width for main part of body, centered with help of margin */
main {
    background-color: var(--main-background-color);
    padding: 20px 0 30px 0;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.hidden {
   display: none;
}
.no-scroll {
  overflow: hidden;
}
.blurred {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}