/* importing fonts */
@import url(./fonts.css);

/* style section for variables */
:root {

/* background color */
--header-footer-background-color: rgb(243,207,93);
--main-background-color: rgb(115,206,165);
--box-shadow-shiny:
                0 0 10px rgba(255, 255, 255, 0.6),
                0 0 20px rgba(255, 255, 255, 0.4),
                0 0 30px rgba(255, 255, 255, 0.2);

/* font size */
--font-size-container: 14px;
--font-size-mobile: 14px;
--font-size-pokemon-name: 16px;
--font-size-modal-id: 24px;
--font-size-h1: 24px;
--font-size-modal-name: 32px;

/* width, height of img, icons, container */
--width-height-close-icon: 35px;
--width-height-btn-arrow: 40px;
--width-height-logo-img: 60px;
--height-header-footer: 90px;

--width-height-pokemon-img: 120px;
--width-height-modal-img: 180px;
--height-table-stats-bar: 220px;
--height-header-modal: 300px;
--height-content-modal: 335px;

--maxWidth: 1440px;

/* border or hover color*/
--border-color-gallery-hover: rgba(18, 70, 88, 1);
}

/* Main style */

/* to fill in white space after clipping footer */
html {
    background-color: var(--main-background-color);

}
 
/* for all elements */
* {
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    text-decoration: none;
    /* outline: 1px solid red; */
}
 
/* set sticky footer to the bottom, main part centered and vertically stacked */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 100vh;
    min-height: 100dvh;
    margin: 0 auto;
    scroll-behavior: smooth;
}
 
/* flex: in combination with flex-box of body, stretches the content to full height, setting max-width for main part of body, centered with help of margin */
main {
    background-color: var(--main-background-color);
    padding: 20px 0 30px 0;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.hidden {
   display: none;
}
.no-scroll {
  overflow: hidden;
}
.blurred {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}

/* pokemon types classification */
.normal {
    background-color: #A8A77A;
}
.fighting {
    background-color: #C22E28;
}
.flying {
    background-color: #A98FF3;
}
.poison {
    background-color: #A33EA1;
}
.ground {
    background-color: #E2BF65;
}
.rock {
    background-color: #B6A136;
}
.bug {
    background-color: #A6B91A ;
}
.ghost {
    background-color: #735797;
}
.steel {
    background-color: #B7B7CE;
}
.fire {
    background-color: #EE8130;
}
.water {
    background-color: #6390F0;
}
.grass {
    background-color: #7AC74C;
}
.electric {
    background-color: #F7D02C;
}
.psychic {
    background-color: #F95587;
}
.ice {
    background-color: #96D9D6;
}   
.dragon {
    background-color: #6F35FC;
}
.dark {
    background-color: #705746;
}
.fairy {
    background-color: #D685AD;
}
.stellar {
    background-color: #00F9FF;
}
.unknown {
    background-color: #F85888;
}