/* importing fonts */
@import url(./fonts.css);

/* style section for variables */
:root {

/* background color */
--header-footer-background-color: rgb(243,207,93);
--main-background-color: rgb(115,206,165);

/* font color */
--font-color-photo-name: rgba(255, 255, 255, 1);

/* font size */
--font-size-photo-name: 24px;

/* width, height of img, icons */
--width-height-pokemon-img: 120px;
--width-photo-overlay-img: 60px;
--height-photo-overlay-img: 60px;
--width-height-close-icon: 35px;
--width-height-btn-arrow: 60px;

--maxWidth: 1440px;

/* padding, gaps */
--gap-between-gallery: 24px;

/* border or hover color*/
--border-color-gallery-default: rgba(18, 70, 88, 1);
--border-color-gallery-hover: rgba(107, 193, 225, 1);

}

/* Main style */

/* to fill in white space after clipping footer */
html {
    background-color: white;
  }
 
 /* for all elements */
 * {
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    text-decoration: none;
    /* outline: 1px solid red; */
 }
 
 /* set sticky footer to the bottom, main part centered and vertically stacked */
 body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: 0 auto;
    font-family: "Palanquin", sans-serif;
    scroll-behavior: smooth;
 }
 
 /* flex: in combination with flex-box of body, stretches the content to full height, setting max-width for main part of body, centered with help of margin */
 main {
    background-color: white;
    flex: 1;
 }
 
 /* class to set status "hidden" */
.hidden {
   display: none;
}